<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spenmo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <!-- build:css(assets) styles/screen.css -->
        <link rel="stylesheet" href="styles/screen.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="flash">
          {{#each flash}}
            <p onclick="this.style.display='none';">{{this}}</p>
          {{/each}}
        </div>
        <header class="clearfix">
          <a href="/" class="brand no-underline"><h1>{{title}}</h1></a>
          <nav class="primary nav--right">
            <ul>
              <li class="active"><a class="btn btn--small btn--color1" href="/">Home</a></li>
              {{#if user }}
                <li><a class="btn btn--small btn--color1" href="/logout">Log Out</a></li>
              {{else}}
                <li><a class="btn btn--small btn--color1" href="/signup">Sign Up</a></li>
              {{/if}}
            </ul>
          </nav>
        </header>

        {{{ body }}}

        <footer>
           Footer Content
        </footer>

        <!-- build:js(assets) scripts/scripts.js -->
        <!-- endbuild -->
    </body>
</html>
