<div class="flex-container">
  <section class="flex-item-center">
    <h1>One more step...</h1>
    <hr>
    <form id="factor" class="column-form" method="post" action="/sms">
      <input required type="number" name="key" placeholder="Pin number">
      <input disabled class="btn btn--small btn--color1" type="submit" name="submit" Value="Submit">
    </form>
  </section>
</div>
<script src="/scripts/factor.js"></script>
