<div class="flex-container">
  <section class="flex-item-center">
    <h1>Create an Account</h1>
    <hr>
    <form id="signup" class="column-form" method="post" action="/signup">
      <input required type="text" name="username" placeholder="Username">
      <input required type="password" name="password" placeholder="Password">
      <input required type="text" name="firstname" placeholder="First name">
      <input required type="text" name="lastname" placeholder="Last name">
      <input disabled class="btn btn--small btn--color1" type="submit" name="submit" Value="Submit">
    </form>
  </section>
</div>
<script src="/scripts/validation.js"></script>
